<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
        DevOps Series
    </div>
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">{{Title}}</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-large w3-center">{{Description}}</p>
    </div>
</div>
<div class="scrolling-box"></div>
    <section id="japan" class="japanimg w3-jumbo w3-animate-top">
        <div class="w3-display-middle w3-text-white">
            <p class="w3-jumbo w3-center">{{Japan-Description}}</p>
        </div>
    </section> 

    <section id="taiwan" class="taiwanimg w3-jumbo w3-animate-top">
        <div class="w3-display-middle w3-text-white">
            <p class="w3-jumbo w3-center">{{Taiwan-Description}}</p>
        </div>
    </section>

    <section id="thailand" class="thailandimg w3-jumbo w3-animate-top">
        <div class="w3-display-middle w3-text-white">
            <p class="w3-jumbo w3-center">{{Thailand-Description}}</p>
        </div>
    </section>  
    <section id="dominicanrepublic" class="drimg w3-jumbo w3-animate-top">
        <div class="w3-display-middle w3-text-white">
            <p class="w3-jumbo w3-center">{{DR-Description}}</p>
        </div>
    </section>  
</div>